body {
    font-family: cursive;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFD700;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: #000000;
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    
    .topnav {
        font-family: Arial, sans-serif;
        overflow: hidden;
        background-color: #eaff00;
        position: fixed;
        top: 0px;
        width: 100%;
      }
      
      .topnav a {
        float: left;
        display: block;
        color: #00f7ff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: #04AA6D;
        color: white;
      }
    }
}

.item {
    flex: 1 1 200px;
}

.image {
    padding: 30px;
}

.content {
    top: 20px;
    width: 80%;
    margin: auto;
    background: cyan;
    padding: 125px;
    box-shadow: 0px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #91ff00;
    font-size: 2em;
}

.author {
    font-style: italic;
    color: #ffffff;
}

.story {
    text-align: center;
}

.video {
    width: 100%;
    height: 450;
    width: 800;
    text-align: center; 
}

.clock {    
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0 ,0.2);
}

.clock {
    position: absolute;
    background-image: url('image/clock.png');
    height: 130px;
    width: 130px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
}

.hour {
    width: 4px;
    height: 20px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.minute {
    width: 3px;
    height: 35px;
    background-color: blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.second {
    width: 2px;
    height: 45px;
    background-color: red;
    transition: transform 0.5s ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.center-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.artist {
    font-family: Arial, sans-serif;
    text-align: center;
    color: grey;
}
