.menu {
    display: none;
}

@media (max-width: 1080px) {
    .menu {
        display: block;
    }
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0077ff, pink);

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

header {
    display: flex;
    align-items: center;
    background: linear-gradient(to top, #0077ff 33%, pink);
    border-bottom: #000000 2px solid;
    z-index: 727;
    position: fixed;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
}

.image {
    width: 100%;
    text-align: left; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.story {
        font-style: italic;
        font-size: 18px;
        text-align: center;
        padding-right: 10px;
        width: 120%;
        -webkit-text-stroke-color: aqua;
        -webkit-text-stroke-width: 0.5px;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.button {
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    left: -13px;
    top: 3px;
    z-index: 2; 
    background-color: #0099ff;
}

.button::before
    .button::after
        .button span {
            background-color: white;
            width: 20px;
            height: 3px;
            position: absolute;
}

.button::before {
    top: 15px;
}

.button::after {
    bottom: 15px;
}

.button span {
    top: 50%;
    transform: translateY(-50%);
}

.button:hover {
    background-color: #00aaff;
}

.button:active {
    background-color: #0077ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.menubtn {
    font-size: 0;
    line-height: 0;
    text-align: center;
    padding: .75rem .5rem .5rem;
    width: 46px;
    border-radius: 4px;
    z-index: 11;
    height: 46px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    right: 2rem;
    margin: auto;
}

.nav2 {
    width: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0; 
    background: radial-gradient(circle at top right, #0077ff, pink 33.3%);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
    padding-bottom: 100%;
    z-index: 1;
    border-left: 2px black solid;

    a {
        width: 120%;
        padding: 8px 8px 8px 13px;
        height: 40px;
        font-size: 15px;
        color: yellow;
        transition: 0.3s;
        display: block;
        text-align: left;
        -webkit-text-stroke-color: blue;
        -webkit-text-stroke-width: 0.5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    a:hover {
        text-decoration: none;
        background-color: rgba(255, 255, 255, 0.121);
    }
}

.navbar {
    a {
        width: 120%;
        padding: 8px 8px 8px 13px;
        height: 40px;
        font-size: 15px;
        color: yellow;
        transition: 0.3s;
        display: block;
        text-align: left;
        -webkit-text-stroke-color: blue;
        -webkit-text-stroke-width: 0.5px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .dropdown-menu {
        background-color: white;
        border: 2px solid blue;

        .dropdown-item {
            width: 100%;
            padding: 8px 8px 8px 13px;
            height: 40px;
            font-size: 15px;
            color: yellow;
            transition: 0.3s;
            display: block;
            text-align: left;
            -webkit-text-stroke-color: blue;
            -webkit-text-stroke-width: 0.5px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        
        .dropdown-item:hover {
            text-decoration: none;
            background-color: rgba(139, 139, 139, 0.121);
        }
    }

    a:hover {
        text-decoration: none;
        color: #6cc2ff;
    }
}

.face {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0px rgba(0, 0, 0, 0.1);
    padding: 70px 125px 60px 125px;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .alert {
        text-align: center;
        background-color: rgb(245, 245, 255);
        border: 2px solid #ff0000;
        top: 15px;

        .btn-close {
            height: 0;
            width: 0;
        }
    }
}

.content {
    position: relative;
    top: auto;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background: #6cc2ff;
    border-radius: 15px;
    border: 2px #000000 solid;
    padding: 70px 125px 60px 125px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.wellcome {
    box-sizing: border-box;
    margin-bottom: 5px;
    animation: move 1.333s infinite;
    text-align: center;
    position: relative;
    bottom: 15px;

    .visitors {
        font-style: italic;
        font-size: 20px;
        text-align: center;
        color: black;
        width: 120%;
        height: auto;
        position: relative;
        right: 240px;
        top: -205px;
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.video {
    background: rgb(0, 0, 0); 
    border: 5px blue solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.AmericaYa {
    padding: 25px;
}

.clock {    
    position: relative;
    height: 130px;
    width: 130px;
    border: 5px solid black;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0 ,0.2);
    z-index: 999;
    background-image: url('image/clock.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
}

.hour {
    width: 4px;
    height: 20px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.minute {
    width: 3px;
    height: 35px;
    background-color: blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.second {
    width: 2px;
    height: 45px;
    background-color: red;
    transition: transform 0.5s ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.center-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer {
    display: block;
    unicode-bidi: isolate;
    background-color: black;
    color: grey;
    font-size: 13px;
    font-family: Arial, sans-serif;
    padding-top: 8px;
    padding-bottom: 2px;
}
